.container{
    width: 1400px;
    margin: auto;
}

h1 {
    color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    width: 10%;
    margin: auto;
}

.box2 img{
    width: 100%;
    margin: auto;
}

h2 {
    color: darkmagenta;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.box3{
    width: 20%;
    margin: auto;
}
 
h3{
    color: blue;
}
 .row{
    display: flex;
    flex-wrap: wrap;
 }

.box4{
    width:35%;
    margin: auto;
}

.box4 img{
    width: 100%;
    margin: auto;

}
h4 {
    color: goldenrod;
}

.box5{
    width:90%;
    margin: auto;
}

.box5 .box5_1 {
    width:95%;
    margin: auto;
}

.box5_1 img{
    width:35%; 
}
