body{
    font-family: 'Roboto', sans-serif;
    background-color: white;

}
.container {
    width: 1300px;
    margin: auto;
} 
.row{
    display: flex;
    flex-wrap: wrap;
}
header{
    padding: 10px 0px;

}
.header_logo{
    width: 90px;
    margin: 20px;
    margin-left: 300px;
}

.header_image{
         padding: 2px 750px;
         size: 20px;
         background-color: rgb(165, 248, 165);
         border-radius: 400px;
         
}

.header_nav {
        width: 350px;
        margin-left:900px;
        margin-top: -50px;
        font-size: 20px;

}

.header_nav a{
    color: black;
    margin: 4px;
}
.header_nav a:hover{
    color: rgb(4, 207, 4);
}

.multiple_order{
    width: 500px;
    margin-left: 200px;
    margin-top: -450px;
    font-size: 50px;
}

.multiple_btn{
    width: 500px;
    margin-right: 20px;
}

.multiple_btn a{
    margin: 20px 10px;
    text-decoration: none;
    padding: 10px 20px;
    padding-inline: 50px;
    background-color: whitesmoke;
    border-radius: 50px;
    font-size: 15px;
}

.btn1{
    color: rgb(29, 34, 30);

}
.btn1:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 166, 9);
}

.btn2 {
    color: rgb(29, 34, 30);
}
    
.btn2:hover {
    color: white;
    background-color: green;
}

.tittle{
    width: 500px;
    margin: 200px;
}
.tittle_1 img{
    width: 350px;
    margin-left: 200px;

}
h1{
    margin-left: 750px;
    width: 300px;
    margin-top: -300px;
    font-size: 40px;
    
}

.para1{
    width: 500px;
    margin-left: 700px;
    margin-top: -25px;
    font-size: 18px;
    color: rgb(139, 137, 137);
}

h2{
    margin-left: 200px;
    width: 550px;
    margin-top: 350px;
    font-size: 40px;
}
.para2{
    margin-left: 170px;
    width: 600px;
    margin-top: -10px;
    font-size: 18px;
    color: rgb(138, 138, 138);
}

.tittle2_img{
    margin-left: 850px;
    margin-top: -300px;
    width: 350px;
    
   
}