body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(230, 250, 250);
}
h1{
    color: orangered;
    font: size 100px;
    font-weight: 900;
}
h2 {
    color: rgb(12, 131, 50);
    font-weight: 800;
}
p {
    font-size: 20px;
    font-weight: 100;
}
.a1{
    font-size: 20px;
    color: rgb(30, 62, 5);
    background-color: rgb(13, 251, 13);
}
h3{
    font-size: 25px;
}